#loadingdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:50vh;
}
#count{
  color:orangered ;
}
#instructions{
  border: 1px solid indianred;
  border-radius: 3px;
}
#note{
  margin: 8px;
}